
body {
	/*color: pink;*/
	background-color: #f1faee;
}

button {
	font-size: 30px;
	background-color: #a8dabc;
}

#signup {
	background-color: #1d3557;
	color: #f1faee;
}

h1, h2 {
	color: #1d3557;
}

span {
	color: #457b9d;
}

.tag {
	background-color: #e63946;
	color: #f1faee;
	font-size: 16px;
}

.post a {
	color: #457b9d;
	font-weight: 700;
	text-decoration: none;
}

footer a {
	color: #e63946;
}

/* 인접 선택자(근처의 태그 선택) */
h2 + button {
	font-size: 20px;
}

/* 직계 자손 선택자(태그 바로 아래의 태그만 선택) */
footer > a {
	color: #a8dadc;
}

/* 속성 선택자 */
input[type="password"] {
	color: greenyellow;
}

/* 아래 요소들은 대/소문자를 구분함 */
/* 속성 선택자에 포함된 단어 검색 */
a[href*="google"] {
	color: magenta;
}

/* 속성 선택자의 끝 단어 검색 */
a[href$=".org"] {
	color: cyan;
}

/* 
Pseudo Classes(상태를 나타내는 클래스)

:active
:checked
:first
:first-child
:hover
:not()
:nth-child()
:nth-of-type() 
*/

/* 커서가 올려진 상태(:hover) */
.post button:hover {
	background-color: #e63946;
	color: #f1faee;
}

a:hover {
	text-decoration: underline;
}

/* 버튼, anchor 태그를 누르고 있는 등의 상태 */
.post button:active {
	background-color: #02c39a;
	color: #f1faee;
}

/* Radio 버튼 등이 선택 된 상태*/
input[type=checkbox]:checked {
	
}

/* 매 N번째 요소 선택(n을 붙이지 않으면 단순히 N번째 요소) */
.post:nth-of-type(3n) {
	background-color: #dfe8dc;
}

/*#signup:placeholder-shown {*/
/*}*/

/*
Pseudo Elements

::after
::before
::first-letter
::first-line
::selection
*/